<!DOCTYPE>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{%block title%} {%endblock%}</title>
        <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    {%load static%}
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
    <link rel="stylesheet" href="{%static 'css/owl.carousel.min.css'%}">
    <link rel="stylesheet" href="{%static 'css/owl.theme.default.min.css'%}">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
            

    </head>
    <body> 
    {%include 'header.html'%}

    {%block content%}

    {%endblock%}

    {%include 'footer.html'%}
    <script>
      M.AutoInit();
 
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
   <script> $(document).ready(function(){
      $(".owl-carousel").owlCarousel(
      {
         
        loop:true,
        margin:10,
        autoplay:true,

        nav:false,
        responsiveClass:true,
    responsive:{
      0:{
          items:1,
          nav:true
      },
      600:{
            items:3,
            nav:false
      },
      1000:{
            items:4,
            nav:true,
            loop:false
          }


      }
      }
      );
    });
    </script>


     

</body>
</html>