<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
    
  {%for cat in cats%}  
  
  <li><a href="/category/{{cat.urls}}">{{cat.title}}</a></li>

  {%endfor%}
    
</ul>
<nav class="bg-primary">
    <div class="container">
        <div class="nav-wrapper">
            <a href="/home" class="brand-logo">Myblog</a>
            <ul class="right hide-on-med-and-down">
              <li><a href="/about">About</a></li>
              <li><a href="/admin">Admin</a></li>
              <!-- Dropdown Trigger -->
              <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Category<i class="material-icons right">arrow_drop_down</i></a></li>
            </ul>
          </div>
    </div>
</nav>
        