{%extends 'base.html'%}

{%block title%} Welcome to Myblog {%endblock%}

{%block content%}

<div class="custom-container">
    <!-- Set up your HTML -->
    <div class="owl-carousel">
        
        {%for cat in cats%}

        <div class="card item" style="margin-left:10px;">
            
            <div class="img-container">

                <img src="/media/{{cat.image}}" class="responsive-img" alt="">

            </div>

            <div class="card-contnet">

                <div class="card-title">
                    {{cat.title}}
                </div>

                <p class="truncate">{{cat.description}}</p>
                  <div class="container center-align mt20">
                    <a href="/category/{{cat.url}}" class="btn bg-primary">VIEW</a>
                  </div>

            </div>
            

        </div>

        {%endfor%}

      </div>
   
</div>
<script>
    $('.owl-carousel').owlCarousel({
    loop:true,
    margin:10,
    nav:true,
    responsive:{
        0:{
            items:1
        },
        600:{
            items:3
        },
        1000:{
            items:5
        }
    }
})

</script>


<div class="container">
    <div class="row">
        
        <div class="col s12">
           
            {%for p in posts%}

            <div class="row">
                <div class="col s12 m8">


                

            {{p.content |truncatewords:50 |safe}}
                 <div class="mt20">

                <a href="/blog/{{p.url}}" class="btn bg-primary">Readmore...</a>

                 </div>

                </div>
                <div class="col s12 m4">
                    <img src="/media/{{p.image}}" class="responsive-img" style="margin-top:50px">

                </div>

            </div>
            {%endfor%}
        
            

        
        </div>
    </div>
        
</div>

{%endblock%}