{%extends 'base.html'%}

{%block title%} POST {%endblock%}

{%block content%}


<div class="custom-container">

    <div class="row">
        <div class="col s12 m10">  

            <h1>{{post.title}}</h1>
            <p>({{post.cat.title}})</p>
            <img src="/media/{{post.image}}" class="responsive-img" alt="">

            <br>
            <p>
                {{post.content|safe}}
            </p>
        </div>
        <div class="col s12 m2">

            {%for cat in cats%}
            <div class="card item" style="margin-left:10px;">
            
                <div class="img-container">
    
                    <img src="/media/{{cat.image}}" class="responsive-img" alt="">
    
                </div>
    
                <div class="card-contnet">
    
                    <b>
                        {{cat.title}}
                    </b>
    
                    <p class="truncate">{{cat.description}}</p>
                      <div class="container center-align mt20">
                        <a href="/category/{{cat.urls}}" class="btn bg-primary">VIEW</a>
                      </div>
    
                </div>
                
    
            </div>
            {%endfor%}
        </div>

    </div>



</div>




{%endblock%}